.parentDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}

.toolDivStyle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  flex-direction: row;
}

.inputStyle {
  width: 33%;
}

.downloadButtonStyle {
  width: 16%;
}